{%extends 'base.html'%}  {% block content %} {{block.super}}
<html>
  <head>
    <style>
     body {
      background-color: #142d4c;
      color: #ececec;
      } 
 
    </style>
  </head>
  <body>

    
  {% for i in products %}


<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
            <h3 style=" color:  #142d4c;"></h3>

        <div class="card" style="width: 55rem;">
           
            <div class="card-body" style=" color:  #142d4c;">
                <h5 class="card-title">Product Name: {{i.name}}</h5>
                <p class="card-text">Category: {{i.category}}</p>
                <p class="card-text"> Company: {{i.company}}</p>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



{% endfor %}
  </body>
</html>
{% endblock %}