{%extends 'base.html'%}  {% block content %} {{block.super}}
<html>
  <head>
    <style>
     body {
      text-align: center;
      } 
 
    </style>
  </head>
  <body>
    
  {% for i in customers %}


<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="card" style="width: 45rem;">
           
            <div class="card-body">
                <h5 class="card-title"> {{i.first_name}}</h5>
                <p class="card-text"> {{i.last_name}}</p>
                <p class="card-text">  {{i.join_date}}</p>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>



{% endfor %}
  </body>
</html>
{% endblock %}