<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <nav class="navbar navbar-inverse" style="background-color:#385170;  color:aliceblue;">
        <div class="container-fluid">
            {% if user.is_authenticated %}
            <div class="col-sm-4 col-md-4">MFS</div>
            <div class="col-sm-4 col-md-4"><a style="color:aliceblue;" href="{%url 'home' %} ">Beyonic</a></div>

            <div class=" col-sm-4 col-md-4 ">
                <a href="" class="dropdown-toggle btn btn-default  col-sm-4 col-md-4" data-toggle="dropdown" style="color:aliceblue;" role=" button " ria-expanded="false ">Account<span class="caret "></span></a>
                <div class="dropdown-menu col-sm-4 col-md-4 " aria-labelledby="dropdownMenuLink ">
                    <a class="dropdown-item " href="{%url 'home' %} ">Home</a>
                    <a class="dropdown-item " href="{%url 'customers' %} ">View Customers</a>
                    <a class="dropdown-item " href="{%url 'products' %} ">View Products</a>
                    <a class="dropdown-item " href="{%url 'logout' %} ">Logout</a>
                    <a class="dropdown-item " href="/admin " style="color:purple; ">Admin Panel</a> {% else %}
                    <a class=" btn btn-default " style="color:aliceblue;" role=" button " href="/accounts/login ">Login</a> {% endif %}
                </div>
            </div>
        
        </div>
    </nav>
</body>

</html>